/* INFO */

.info {
  /* border: 1px solid #222a32;
  color: #8694a1;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between; */
  @apply border border-gray-800 text-text_color_2 p-3 rounded-lg mb-2 flex justify-between;
}

.info__part {
  /* display: flex;
  flex-direction: row;
  width: calc(50% - 16px); */
  @apply flex flex-row w-[calc(50%-16px)];
}

.info__part_key {
  /* width: 56px;
  margin-right: 12px; */
  @apply w-14 mr-3;
}

.info__part_key2 {
  /* width: 80px;
  margin-right: 12px; */
  @apply w-20 mr-3;
}

.info__part_value {
  @apply text-white;
}

.margin-bottom {
  @apply mb-2;
}

.special_p {
  /* font-size: 12px;
  background-color: #303842;
  border-radius: 3px;
  color: #a6b8cc;
  padding: 2px 8px;
  margin-bottom: 8px; */
  @apply text-xs bg-back_4 rounded text-text_color_3 px-2 py-0.5 mb-0.5;
}

.button {
  /* width: 100%;
  height: 44px;
  background-color: #248bdb;
  border-radius: 8px;
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  border: none;
  margin-bottom: 48px;
  cursor: pointer;
  font-weight: normal; */
  @apply w-full h-11 bg-button rounded-lg mt-2 text-white text-base leading-5 border-none mb-12 cursor-pointer font-normal;
}
