.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .item {
    background-color: #222a32;
    height: 64px;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item:first-child, .item:focus, .item:hover {
    background-color: #2d353d;
  }

  .item__left p:first-child {
    color: #fff;
    line-height: 20px;
  }

  .item__left p:last-child {
    color: #8694A1;
    line-height: 20px;
  }
  
  .item__right {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 8px;
    background-color: #248bdb;
    border-radius: 4px;
  }